{% extends "layout.html" %}
{% block home %}
<p style="padding: 20px;">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis turpis lacus, in tristique sapien aliquam sit amet. Vivamus imperdiet, felis ut maximus ullamcorper, ipsum lacus rhoncus leo, a pharetra mauris erat et diam. Donec tortor dui,
  convallis sit amet vestibulum in, tincidunt sit amet velit. Nam pharetra lectus quam, eu viverra neque euismod id. Etiam eu urna mauris. Duis sodales purus ac orci accumsan, sit amet molestie arcu pharetra. Nunc leo risus, scelerisque molestie
  hendrerit non, dapibus vel lectus. Suspendisse potenti. Curabitur lobortis ex est, eu elementum enim hendrerit a. Nunc vel tristique ligula. Donec nec ante pellentesque, rhoncus mi vitae, ultrices justo. Vestibulum suscipit molestie egestas. Donec
  nec ex gravida, tincidunt lorem sit amet, tincidunt magna.

  Etiam efficitur at quam id mattis. In ac interdum lacus, vel ultricies sapien. Morbi in quam facilisis, pulvinar orci vel, rutrum massa. Vestibulum consectetur orci eget mi congue commodo. Donec ultrices tortor tortor, in hendrerit lacus rutrum
  vel. Aenean ullamcorper pulvinar lorem, quis fringilla velit. Maecenas suscipit ante vel vehicula eleifend.

</p>
{% endblock %}
